.sidebar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #201F57;
}

.head {
    padding: 0.5rem;
    height: 10%;
    height-min: 10rem;
    border-bottom: white 0.15rem solid;
    margin: 0.25rem 0.25rem;
}
  
.body {
    display: flex;
    height: 90%;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 0.5rem;
}

.folder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.body .folder:nth-last-child(2)
{
    padding-bottom: 1rem;
}

.folderTitle {
    text-align: start;
    font-size: 1.3rem;
    margin: 0rem;
    display: inline;
    margin-left: 0.4rem;
}

.folderLevel {
    align-self: start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    color: white;
    margin: 0.25rem 0rem;
    padding: 0.25rem 0rem;
    display: flex;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
}

.folderLevel:hover {
    background-color: #181745;
}

.folderLevel:active {
    background-color: #0e0d2b;
    color: gray;

}

.folderContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.folder .folderContent {
    width: auto;
    margin-left: 0.5rem;
    padding-left:0.75rem;
    border-left: 0.25rem #0062AA solid;
}

.hidden {
    display:none;
}