.sidebar {
    width: 25vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #201F57;
}

/*header styling*/
.head {
    padding: 0.5rem;
    height: 10%;
    height-min: 10rem;
    border-bottom: white 0.15rem solid;
    margin: 0.25rem;
}

.close {
    width: 100%;
    height: 100%;
}

.open {
    height: 8vh;
    width: 5vw;
    position: absolute;
    top: 1vh;

    background-color: #201F57;
    border: white 0.25rem solid;
    border-left: 0rem;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;  
    padding: 0.5rem;  
    margin: 0.25rem 0.25rem;
}

.bar-toggle {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.bar-toggle .icon {
    color: white;
    height: 75%;
    aspect-ratio: 1;
}

.bar-toggle:hover .icon{
    color: lightgray;
}

.bar-toggle:active .icon{
    color: darkgray;
}

/*body styling*/
.body {
    display: flex;
    height: 90%;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 0.5rem;
}

.folder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.body .folder:nth-last-child(2)
{
    padding-bottom: 1rem;
}

.folderTitle {
    text-align: start;
    font-size: 1.3rem;
    margin: 0rem;
    display: inline;
    margin-left: 0.4rem;
}

.folderLevel {
    align-self: start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    color: white;
    margin: 0.25rem 0rem;
    padding: 0.25rem 0rem;
    display: flex;
    padding-left: 0.25rem;
    border-radius: 0.25rem;
}

.folderLevel .icon {
    aspect-ratio: 1;
}

.folderLevel:hover {
    background-color: #181745;
}

.folderLevel:active {
    background-color: #0e0d2b;
    color: gray;

}

.folderContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.folder .folderContent {
    width: auto;
    margin-left: 0.5rem;
    padding-left:0.75rem;
    border-left: 0.25rem #0062AA solid;
}

.hidden {
    display:none;
}