.sidebar {
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #201F57;
}

.head {
    padding: 0.5rem;
    height: 10%;
    height-min: 10rem;
    border-bottom: white 0.15rem solid;
    margin: 0.25rem 0.25rem;
}
  
.body {
    display: flex;
    height: 90%;
    flex-direction: column;
    padding: 0.5rem;
    overflow-y: scroll;
    gap: 0.5rem;
}