.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  width: 100%;
  overflow-y: scroll;
}

pre {
  overflow: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  font-size: small;
  height: 25vh;
  border: black 0.1rem solid;
}

.sidebar {
  width: 12rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
  border-right: #0676cc 0.25rem solid; 
}