.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-main {
  background-color: #1f2021;
  min-height: 100vh;
  color: white;
  width: 100%;
  overflow-y: scroll;
}

pre {
  white-space: pre-wrap;
  font-size: small;
  border: white 0.1rem solid;
  text-align: left;
  margin: 1rem;
}

*{
  font-family: 'Outfit', sans-serif;
}