.App {
  background-color: #1f2021;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.App-main {
  min-height: 100vh;
  color: white;
  width: 100%;
  overflow-y: auto;
}

.react-p5 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
  overflow-x: auto;
  scrollbar-color: white #1f2021;
}

//apply for safari browsers
.content::-webkit-scrollbar-track {
  background-color: #1f2021;
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
}

*{
  font-family: 'Outfit', sans-serif;
}